* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  position: relative;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background: url("./images/background.png") center/cover no-repeat;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

p {
  margin: 0;
  font-size: 2rem;
  font-weight: 550;
}

.header {
  margin: 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-btn,
.modal-btn {
  width: 50px;
  height: 50px;
  background-color: lemonchiffon;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 1.8rem;
}

.timer {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  border: 2px solid #3b3b3b;
  border-radius: 10px;
  text-align: center;
}

.count {
  visibility: hidden;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid #000000;
  background-color: lightcoral;
  color: #fff;
  border-radius: 50%;
}

.game-field {
  position: relative;
  width: 100%;
  height: 100%;
}

.bug,
.carrot {
  position: absolute;
  transition: transform 100ms ease-in;
}

.bug {
  width: 50px;
  height: 50px;
}

.bug:hover,
.carrot:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* 모달 */
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 20px 0 30px;
  justify-content: center;
  gap: 10px;
}

.modal-text {
  color: #fff;
}
