* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(26, 13, 4, 0.836);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  outline: 0;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 16px;
}

button:hover {
  filter: brightness(1.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding-bottom: 100px;
  max-width: 800px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container {
  gap: 10px;
}

.form-container,
.submit {
  display: flex;
}

.search {
  outline: 0;
  padding: 8px 12px;
  width: 250px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgb(7, 97, 233);
  font-size: 16px;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  border: 1px solid rgb(7, 97, 233);
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 200ms;
}

.meal-info:hover {
  opacity: 1;
}

.single-meal {
  max-width: 450px;
}

.single-meal img {
  width: 250px;
  border: 5px solid #fff;
}

.single-meal .category {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  padding: 15px;
  border: dotted 2px goldenrod;
  font-weight: 600;
}

.single-meal .instruction {
  font-weight: 400;
}

.single-meal .ingredients ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 13px;
  font-weight: 600;
}

.single-meal .ingredients ul li {
  background-color: #fff;
  color: black;
  padding: 4px 2px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  .meals {
    grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}
