@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: all 300ms ease-in;
}

body.show-nav {
  transform: translateX(200px);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

button:hover {
  filter: brightness(110%);
}

h3 {
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  color: #fff;
  z-index: 100;
  background-color: var(--primary-color);
  transform: translateX(-100%);
}

nav ul li {
  border-bottom: rgb(92, 90, 90) solid 1px;
  padding: 1rem;
  cursor: pointer;
}

/* 형제 요소들 중에서 선택 */
nav ul li:first-of-type {
  border-top: rgb(92, 90, 90) solid 1px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav .logo {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo img {
  border-radius: 50%;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.6rem;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: -50px;
}

header {
  padding: 40px 0;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-btn {
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}

.cta-btn:hover {
  filter: brightness(110%);
}

.container {
  margin: 0 auto;
  padding: 30px 40px;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  max-width: 100%;
  width: 350px;
  height: 450px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: #fff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
}

.modal-content {
  padding: 15px 10px;
  font-weight: 600;
  font-size: 16px;
}

.modal-form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form div input {
  border-color: rgb(218, 218, 218);
  padding: 4px 5px;
  border-radius: 5px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
